In [4]:
print('hello world in codespaces')

hello world in codespaces

In [2]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 8.4 MB/s eta 0:00:000m eta 0:00:01:01:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [4]:
import psycopg2
import pandas as pd

In [9]:
# Connect to the Postgres database
conn = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root"
)

In [10]:
# Create a cursor object
cur = conn.cursor()

In [11]:
# Create a table for the green taxi trips data
cur.execute("""
    CREATE TABLE green_taxi_trips (
        VendorID INTEGER,
        lpep_pickup_datetime TIMESTAMP,
        lpep_dropoff_datetime TIMESTAMP,
        store_and_fwd_flag VARCHAR(1),
        RatecodeID INTEGER,
        PULocationID INTEGER,
        DOLocationID INTEGER,
        passenger_count INTEGER,
        trip_distance FLOAT,
        fare_amount FLOAT,
        extra FLOAT,
        mta_tax FLOAT,
        tip_amount FLOAT,
        tolls_amount FLOAT,
        improvement_surcharge FLOAT,
        total_amount FLOAT
    )
""")

In [14]:
# Load the green taxi trips data into the table
with open("green_tripdata_2019-09.csv.gz", "rb") as f:
    df = pd.read_csv(f, compression="gzip")
    df.to_sql("green_taxi_trips", conn, if_exists="append", index=False)

/tmp/ipykernel_37891/1959403589.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, compression="gzip")
/tmp/ipykernel_37891/1959403589.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql("green_taxi_trips", conn, if_exists="append", index=False)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': relation "sqlite_master" does not exist
LINE 5:             sqlite_master
                    ^